 
 
 .logotip-title{ 
  
    margin:0 auto;
    margin-bottom: 80px;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 54px;
line-height: 56px;
/* identical to box height, or 104% */
text-align: center;
/* Dark Text */
color: #222222;
 }
 .logotip-carusel-list{ 
    
    display: flex;
    align-items: center;
    list-style-type: none; 
    justify-content: flex-end;
    padding: 0; 
    margin: 0; 
    margin-bottom: 30px;
 } 
 .logotip__carusel-img{ 

    width: 325px; 
    height: 190px;
 } 

 .logotip-carusel-list-activ{ 
     display: flex;
     align-items: center;
     justify-content: flex-start;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-bottom: 100px;
    margin-right: auto;
 
 } 
 @media only screen and(max-width:600px){ 

   .logotip-title{ 
      font-weight: 700;
      font-size: 30px;
      line-height: 37px;
   }

 }